.navbar_section {
    background: #00b0b5;
    padding: .5rem 6rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar_section a.navbar-brand img {
    max-width: 180px;
}

.navbar_section .nav-item a.nav-link {
    letter-spacing: 1.5px;
    font-size: 15px;
}

.cart-icon svg[stroke] {
    color: white;
}

.cart-icon svg path {
    stroke-width: 38px;
}

.cart-icon svg[stroke],
.account-icon svg[stroke] {
    color: white;
    width: 20px;
    height: 20px;
}

.mega-content {
    display: flex;
    justify-content: space-between;
}

.megamenu-section .mega-menu ul {
    padding: 0;
}

.megamenu-section .mega-menu ul li {
    list-style: none;
}

.megamenu-section .mega-menu h4 {
    font-size: 12px;
}

.megamenu-section .mega-menu ul li a {
    font-size: 11px;
}

.navbar_section .navbar {
    position: static;
}

.megamenu-section {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    width: auto;
    height: 100vh;
    background: #00000082;
    margin: 17px 0 0;
    transition: opacity 0.3s ease, visibility 0.35s ease;
    opacity: 0;
    visibility: hidden;
}
.navbar_section .nav-item:hover .megamenu-section{
    visibility: visible;
    opacity: 1;
}
.megamenu-content {
    background: white;
}
.cart-icon .cart-sec {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.cart-icon a.cart{
    position: relative;
}
.product-count {
    position: absolute;
    right: -10px;
    top: -5px;
    background: rgb(255, 201, 41);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    padding-top: 1px;
}
.cart_total p {
    font-size: 14px;
}
.account_register {
    position: absolute;
    background: white;
    padding: 15px 45px 15px 15px;
    top: 25px;
    transition: all 0.15s linear;
    visibility: hidden;
    opacity: 1;
}
.account-icons:hover .account_register{
    visibility: visible;
    opacity: 1;
    top: 35px;
}
.account_register li.nav-item {
    list-style: none;
}
.account_register li.nav-item a{
    color: #39cccc;
}
a.account-icons {
    position: relative;
}
.account_register:before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgb(255, 201, 41);
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
}
.right_content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:flex-end;
}
form.search_btn{
    width: 65%;
}
.cart_sec {
    display: flex;
    align-items: center;
    gap: 10px;
}
button.search-button {
    border: none;
    color: black;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgb(255, 201, 41);
}
.search-page {
    color: white;
}
.search-page svg{
    width: 19px;
    height: 19px;
    transition: all 0.3s linear;
}
.search-section {
    width: 50%;
    margin: auto;
}

a.fx {
    display: flex;
    align-items: center;
    gap: 10px;
}
.account_section p {
    font-size: 15px;
    color: white;
    padding-top: 3px;
}
button.fx {
    display: flex;
    gap: 5px;
}